/*blog only styles*/

.break {
	-webkit-flex: 1;
	flex: 1;
	margin-top: 5px;
	height: 1px;
	background-color: #ffa500;
}

.entry {
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-top: 20px;
}

.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: bold;
}

.date {
	color: #8B8989;
	font-size: 0.8em;
	text-align: right;
}
