/*flexbox styling*/

.container {
	display: -webkit-flex;
	display: flex;
}

body {
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	background-color: #fff;

}

p {
	margin: 8px 0;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #a05035;
}

.site-wrapper {
	width: 760px;
	background-color: #fff;
}

.content {
	margin-left: 5px;
}

.projects {
	margin-left: 15px;
}

.entry {
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-top: 20px;
}

.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: bold;
}

.date {
	color: #8B8989;
	font-size: 0.8em;
	text-align: right;
}
.return {text-align: right;}
.return a {
	font-size: 0.8em;
	text-decoration: none;
}