/*index only styles*/

.about {
	width: 50%;
	margin: 0 15px;
	font-size: .8em;
}
.projects {
	margin: 20px 15px;
}

.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.blog-link {
	font-size: 0.8em;
	color: #8B8989
}

.blog-link > a {
	color: #8B8989
}