/*index only styles*/

.content {
	margin-left: 5px;
}

.projects {
	margin-left: 15px;
}

.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.blog-link {
	font-size: 0.8em;
	color: #8B8989
}

.blog-link > a {
	color: #8B8989
}