/*flexbox styling*/

.container {
	display: -webkit-flex;
	display: flex;
}

body {
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	background-color: #fff;

}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #a05035;
}

.site-wrapper {
	width: 760px;
	background-color: #fff;
}

.content {
	margin-left: 5px;
}

.projects {
	margin-left: 15px;
}

.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.blog-link {
	font-size: 0.8em;
	color: #8B8989
}

.blog-link > a {
	color: #8B8989
}