/*general layout for majority of site
include general flexbox classes
include generic styling elements*/

/*flex box layouts*/

.container {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}


/*generic elements*/
* {margin: 0; padding: 0;}

body {
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	margin: 0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	background-color: #fff;
}

h1, h2, h3, h4, h5 {
	margin: 15px 0;
}

p {
	margin: 8px 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #a05035;
}

.site-wrapper {
	width: 760px;
}

.content {
	margin-top: 15px;
}

.return {text-align: right;}

.return a {
	font-size: 0.8em;
	text-decoration: none;
}